# Apache Spark Practice

### Starting the spark Session

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('Spark Prac')\
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/30 06:49:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/03/30 06:49:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### Loading the dataset

In [2]:
# loading 
df = spark.read.format('csv') \
    .option('header', 'true' ) \
    .option('inferSchema', 'true') \
    .option('sep', ',') \
    .load('./Train_Dataset.csv')
df.show()

23/03/30 06:49:59 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
+--------+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+------------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+--------------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
|      ID|Client_Income|Car_Owned|Bike_Owned|Active_Loan|House_Own|Child_Count|Credit_Amount|Loan_Annuity|Accompany_Client|Client_Income_Type|  Client_Education|Client_Marital_Status|Client_Gender|Loan_Contract_Type|Client_Housing_Type|Population_Region_Relative|Age_Days|Employed_Days|Registration_Days|ID_Days|Own_House_Age|Mobile_Tag|Homephone_Tag|Workphone_Working|Client_Occupation|Client_Family_Members|Cleint_City_Rating|Application_Process_Day|Application_Process_Hour|Client_Permanent_Match_Tag|Client_Contact_Work_Tag|   Type_Organization|Score_Source_1|Score_Source_2|Score_Source_3|Social_Circle_Default|Phone_Change|Credit_Bureau|Default|
+--------+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+------------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+--------------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
|12142509|         6750|        0|         0|          1|        0|          0|     61190.55|     3416.85|           Alone|        Commercial|         Secondary|                    M|         Male|                CL|               Home|                  0.028663|   13957|         1062|             6123|    383|         null|         1|            1|                0|            Sales|                    2|                 2|                      6|                      17|                       Yes|                    Yes|       Self-employed|    0.56806615|    0.47878667|          null|               0.0186|          63|         null|      0|
|12138936|        20250|        1|         0|          1|     null|          0|        15282|     1826.55|           Alone|           Service|        Graduation|                    M|         Male|                CL|               Home|                  0.008575|   14162|         4129|             7833|     21|            0|         1|            0|                1|             null|                    2|                 2|                      3|                      10|                       Yes|                    Yes|          Government|   0.563360099|   0.215068341|          null|                 null|        null|         null|      0|
|12181264|        18000|        0|         0|          1|        0|          1|     59527.35|      2788.2|           Alone|           Service|Graduation dropout|                    W|         Male|                CL|             Family|                    0.0228|   16790|         5102|             null|    331|         null|         1|            0|                0|    Realty agents|                    2|                 2|                      4|                    null|                       Yes|                    Yes|       Self-employed|          null|   0.552794972|   0.329655054|               0.0742|         277|            0|      0|
|12188929|        15750|        0|         0|          1|        1|          0|      53870.4|     2295.45|           Alone|           Retired|         Secondary|                    M|         Male|                CL|               Home|                  0.010556|   23195|       365243|             null|    775|         null|         1|            0|                0|             null|                    2|                 3|                      2|                      15|                       Yes|                    Yes|                 XNA|          null|   0.135182337|   0.631354537|                 null|        1700|            3|      0|
|12133385|        33750|        1|         0|          1|        0|          2|     133988.4|     3547.35|           Alone|        Commercial|         Secondary|                    M|       Female|                CL|               Home|                  0.020713|   11366|         2977|             5516|   4043|            6|         1|            0|                0|         Laborers|                    4|                 1|                      3|                    null|                       Yes|                    Yes|Business Entity T...|   0.508198522|   0.301181977|   0.355638717|               0.2021|         674|            1|      0|
|12191614|        11250|        0|         1|          1|        1|          1|        13752|      653.85|           Alone|           Service|         Secondary|                    W|       Female|                CL|               Home|                  0.019101|   13881|         1184|             3910|   3910|         null|         1|            0|                0|         Laborers|                    2|                 2|                      2|                      10|                       Yes|                    Yes|               Other|          null|   0.697927562|   0.420610964|               0.0639|         739|            0|      0|
|12128086|        15750|        1|         1|          0|        1|          0|       128835|     3779.55|           Alone|           Retired|         Secondary|                    S|         Male|                CL|               Home|                  0.016612|   21323|       365243|              113|   4855|           10|         1|            0|                0|             null|                    1|                 2|                      3|                      14|                       Yes|                    Yes|                 XNA|   0.729913215|   0.602545334|   0.511891802|               0.2041|           0|            3|      0|
|12215264|        13500|        0|         0|          1|        1|          0|      60415.2|      3097.8|           Alone|           Retired|         Secondary|                    M|         Male|                CL|               Home|                  0.009175|   22493|       365243|            12617|   5280|         null|         1|            0|                1|             null|                    2|                 2|                      4|                      15|                       Yes|                    Yes|                 XNA|   0.711468199|   0.657507898|   0.549596502|                 null|        1687|            4|      0|
|12159147|        13500|        1|         1|          0|        1|          1|        45000|     1200.15|        Relative|        Commercial|        Graduation|                    M|       Female|                CL|               Home|                  0.006008|    null|         7889|             5455|   2665|           14|         1|            0|                1|            Sales|                    3|                 2|                      4|                      13|                       Yes|                    Yes|       Self-employed|   0.475726518|   0.637593554|   0.553164699|                0.167|        1611|            0|      0|
|12130547|        12150|        0|         0|          0|        1|          0|     16320.15|     1294.65|           Alone|           Retired|         Secondary|                    W|         Male|                CL|               Home|                  0.016612|   20507|       365243|             2834|   4053|         null|         1|            0|                0|             null|                    1|                 2|                   null|                       9|                       Yes|                    Yes|                 XNA|   0.682285092|   0.063343128|   0.080649544|                 null|         533|            5|      0|
|12100935|        27000|        0|         0|          1|        1|          1|        67500|        3375|           Alone|          Govt Job|        Graduation|                    S|         Male|                RL|               Home|                  0.001417|   14816|         2263|             2933|   4640|         null|         1|            0|                0|             Core|                    2|                 2|                      3|                      12|                       Yes|                    Yes|          Government|   0.715451011|   0.770342652|    0.72239289|                 null|        1799|            1|      0|
|12191210|        15750|        0|         0|          0|        0|          1|    149963.85|     4397.85|           Alone|           Service|        Graduation|                    M|         Male|                CL|             Family|                  0.020713|   11318|          369|             5165|   2155|         null|         1|            0|                0|            Sales|                    3|                 2|                      2|                       8|                       Yes|                    Yes|       Self-employed|   0.435028377|   0.564752392|   0.673830078|               0.5732|        1333|            3|      0|
|12128498|        27000|     null|         0|          0|        1|          0|        28440|      1913.4|           Alone|           Service|         Secondary|                    S|       Female|                CL|             Family|                  0.018634|   10052|          389|             7758|   2647|            1|         1|            0|                0|          Drivers|                    1|                 2|                      4|                      13|                       Yes|                    Yes|       Self-employed|   0.268013843|   0.684113808|   0.493862882|               0.1485|           0|            6|      0|
|12130196|         8100|        0|         1|          0|        0|          0|        90000|     3826.35|        Relative|           Retired|         Secondary|                    M|         Male|                CL|             Office|                   0.00963|   21396|       365243|             8000|   4591|         null|         1|            0|                1|             null|                    2|                 2|                      5|                      16|                       Yes|                    Yes|                 XNA|          null|   0.585296115|          null|                 null|        2488|         null|      0|
|12196064|        22500|        0|         1|          1|        1|          0|     100424.7|      4666.5|           Alone|           Service|         Secondary|                    S|         Male|                CL|               Home|                  0.003541|   21160|          373|             null|   4122|         null|         1|            1|                1|            Sales|                    1|                 1|                      4|                      13|                       Yes|                    Yes|                null|          null|   0.518640821|   0.583237926|                 null|         759|            3|      0|
|12105180|        45000|        1|         0|          0|        1|          1|     105493.5|     4482.45|           Alone|        Commercial|         Secondary|                    M|       Female|                CL|               Home|                  0.008068|   15568|         3062|             1145|   4739|           10|         1|            0|                0|         Managers|                    3|                 3|                      5|                       9|                       Yes|                    Yes|Business Entity T...|   0.351485971|    0.24123121|   0.675413291|                0.067|         713|         null|      0|
|12121919|        11250|     null|         0|          1|        1|          1|     29713.05|     2234.25|           Alone|           Service|         Secondary|                    M|         Male|                CL|               Home|                  0.005144|   12423|         3473|             7863|   3250|         null|         1|            0|                0|             null|                    3|                 2|                      5|                      14|                       Yes|                    Yes|Business Entity T...|    0.65445984|   0.609119673|          null|               0.0072|         243|         null|      0|
|12114826|        13500|        1|         1|          1|        0|          1|        18000|         900|          Others|           Service|         Secondary|                    M|       Female|                RL|          Municipal|                   0.04622|   12625|          125|             6775|   null|            3|         1|            0|                0|          Drivers|                    3|                 1|                      1|                      18|                       Yes|                     No|    Industry: type 3|   0.533047491|   0.552346235|   0.865895915|               0.1536|        2050|            1|      0|
|12106559|        15750|        0|         1|          1|        1|       null|        45000|     3007.35|           Alone|           Service|         Secondary|                    S|       Female|                CL|               Home|                  0.008866|   14536|         3465|             5871|   2594|         null|         1|            1|                0|         Laborers|                    1|                 2|                      2|                      17|                       Yes|                    Yes|               Other|          null|   0.129861053|   0.590233339|               0.1031|         340|            2|      0|
|12186490|         9000|        0|         0|          0|        0|          0|        22500|     2191.95|           Alone|           Service|         Secondary|                    S|         Male|                CL|               Home|                      null|    null|         2504|             6019|   1191|         null|         1|            0|                0|            Sales|                    1|                 2|                      2|                      11|                       Yes|                    Yes|Business Entity T...|          null|   0.418630023|   0.595456203|               0.0835|        2458|            2|      0|
+--------+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+------------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+--------------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
only showing top 20 rows

### Data Cleaning and Manipulation

In [3]:
# Checking the number of rows 
df.count()

121856

In [4]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Client_Income: string (nullable = true)
 |-- Car_Owned: integer (nullable = true)
 |-- Bike_Owned: integer (nullable = true)
 |-- Active_Loan: integer (nullable = true)
 |-- House_Own: integer (nullable = true)
 |-- Child_Count: string (nullable = true)
 |-- Credit_Amount: string (nullable = true)
 |-- Loan_Annuity: string (nullable = true)
 |-- Accompany_Client: string (nullable = true)
 |-- Client_Income_Type: string (nullable = true)
 |-- Client_Education: string (nullable = true)
 |-- Client_Marital_Status: string (nullable = true)
 |-- Client_Gender: string (nullable = true)
 |-- Loan_Contract_Type: string (nullable = true)
 |-- Client_Housing_Type: string (nullable = true)
 |-- Population_Region_Relative: string (nullable = true)
 |-- Age_Days: string (nullable = true)
 |-- Employed_Days: string (nullable = true)
 |-- Registration_Days: string (nullable = true)
 |-- ID_Days: string (nullable = true)
 |-- Own_House_Age: integer (nullable = true)
 |-- Mobile_Tag: integer (nullable = true)
 |-- Homephone_Tag: integer (nullable = true)
 |-- Workphone_Working: integer (nullable = true)
 |-- Client_Occupation: string (nullable = true)
 |-- Client_Family_Members: integer (nullable = true)
 |-- Cleint_City_Rating: integer (nullable = true)
 |-- Application_Process_Day: integer (nullable = true)
 |-- Application_Process_Hour: string (nullable = true)
 |-- Client_Permanent_Match_Tag: string (nullable = true)
 |-- Client_Contact_Work_Tag: string (nullable = true)
 |-- Type_Organization: string (nullable = true)
 |-- Score_Source_1: double (nullable = true)
 |-- Score_Source_2: double (nullable = true)
 |-- Score_Source_3: string (nullable = true)
 |-- Social_Circle_Default: double (nullable = true)
 |-- Phone_Change: integer (nullable = true)
 |-- Credit_Bureau: integer (nullable = true)
 |-- Default: integer (nullable = true)


Let us check the columns that are strings, and select the ones that need to be modified

In [5]:
from pyspark.sql.functions import col

In [6]:

# Selecting string columns
string_columns = [c[0] for c in df.dtypes if c[1] == 'string']

# Selecting the dataframe with string columns
string_df = df.selectExpr(*string_columns)
string_df.printSchema()

root
 |-- Client_Income: string (nullable = true)
 |-- Child_Count: string (nullable = true)
 |-- Credit_Amount: string (nullable = true)
 |-- Loan_Annuity: string (nullable = true)
 |-- Accompany_Client: string (nullable = true)
 |-- Client_Income_Type: string (nullable = true)
 |-- Client_Education: string (nullable = true)
 |-- Client_Marital_Status: string (nullable = true)
 |-- Client_Gender: string (nullable = true)
 |-- Loan_Contract_Type: string (nullable = true)
 |-- Client_Housing_Type: string (nullable = true)
 |-- Population_Region_Relative: string (nullable = true)
 |-- Age_Days: string (nullable = true)
 |-- Employed_Days: string (nullable = true)
 |-- Registration_Days: string (nullable = true)
 |-- ID_Days: string (nullable = true)
 |-- Client_Occupation: string (nullable = true)
 |-- Application_Process_Hour: string (nullable = true)
 |-- Client_Permanent_Match_Tag: string (nullable = true)
 |-- Client_Contact_Work_Tag: string (nullable = true)
 |-- Type_Organization: string (nullable = true)
 |-- Score_Source_3: string (nullable = true)

Changing the datatype of all the columns that need to be strings

In [75]:
df = df.withColumn('Child_Count', col('Child_Count').cast('integer'))\
    .withColumn('Credit_Amount', col('Credit_Amount').cast('integer'))\
    .withColumn('Loan_Annuity', col('Loan_Annuity').cast('float'))\
    .withColumn('Population_Region_Relative', col('Population_Region_Relative').cast('float'))\
    .withColumn('Age_Days', col('Age_Days').cast('integer'))\
    .withColumn('Employed_days', col('Employed_days').cast('integer'))\
    .withColumn('ID_Days', col('ID_Days').cast('integer'))\
    .withColumn('Application_Process_Hour', col('Application_Process_Hour').cast('integer'))\
    .withColumn('Score_Source_3', col('Score_Source_3').cast('float'))
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Client_Income: string (nullable = true)
 |-- Car_Owned: integer (nullable = false)
 |-- Bike_Owned: integer (nullable = false)
 |-- Active_Loan: integer (nullable = false)
 |-- House_Own: integer (nullable = false)
 |-- Child_Count: integer (nullable = true)
 |-- Credit_Amount: integer (nullable = true)
 |-- Loan_Annuity: float (nullable = false)
 |-- Accompany_Client: string (nullable = true)
 |-- Client_Income_Type: string (nullable = true)
 |-- Client_Education: string (nullable = true)
 |-- Client_Marital_Status: string (nullable = true)
 |-- Client_Gender: string (nullable = true)
 |-- Loan_Contract_Type: string (nullable = true)
 |-- Client_Housing_Type: string (nullable = true)
 |-- Population_Region_Relative: float (nullable = true)
 |-- Age_Days: integer (nullable = true)
 |-- Employed_days: integer (nullable = true)
 |-- Registration_Days: string (nullable = true)
 |-- ID_Days: integer (nullable = true)
 |-- Own_House_Age: integer (nullable = true)
 |-- Mobile_Tag: integer (nullable = true)
 |-- Homephone_Tag: integer (nullable = true)
 |-- Workphone_Working: integer (nullable = true)
 |-- Client_Occupation: string (nullable = true)
 |-- Client_Family_Members: integer (nullable = true)
 |-- Cleint_City_Rating: integer (nullable = true)
 |-- Application_Process_Day: integer (nullable = true)
 |-- Application_Process_Hour: integer (nullable = true)
 |-- Client_Permanent_Match_Tag: string (nullable = true)
 |-- Client_Contact_Work_Tag: string (nullable = true)
 |-- Type_Organization: string (nullable = true)
 |-- Score_Source_1: double (nullable = true)
 |-- Score_Source_2: double (nullable = true)
 |-- Score_Source_3: float (nullable = true)
 |-- Social_Circle_Default: double (nullable = true)
 |-- Phone_Change: integer (nullable = true)
 |-- Credit_Bureau: integer (nullable = true)
 |-- Default: integer (nullable = true)

#### Checking for and dealing with null values

In [76]:
from pyspark.sql.functions import isnan, when, count, col
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
| ID|Client_Income|Car_Owned|Bike_Owned|Active_Loan|House_Own|Child_Count|Credit_Amount|Loan_Annuity|Accompany_Client|Client_Income_Type|Client_Education|Client_Marital_Status|Client_Gender|Loan_Contract_Type|Client_Housing_Type|Population_Region_Relative|Age_Days|Employed_days|Registration_Days|ID_Days|Own_House_Age|Mobile_Tag|Homephone_Tag|Workphone_Working|Client_Occupation|Client_Family_Members|Cleint_City_Rating|Application_Process_Day|Application_Process_Hour|Client_Permanent_Match_Tag|Client_Contact_Work_Tag|Type_Organization|Score_Source_1|Score_Source_2|Score_Source_3|Social_Circle_Default|Phone_Change|Credit_Bureau|Default|
+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
|  0|         3607|        0|         0|          0|        0|          0|            0|           0|            1746|              3701|            3645|                 3473|         2413|              3651|               3687|                      4868|    3617|         3666|             3614|   5985|        80095|         0|            0|                0|            41435|                 2410|              2409|                   2428|                    3663|                         0|                      0|             3609|         68835|          5686|         26922|                61928|        3664|        18540|      0|
+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+

Let us first drop all the null values where all the values are missing

For the binary variables we are going to impute the missing values with the mode

In [77]:
from pyspark.sql.functions import when, approx_count_distinct # A replacement of mode in newer versions of spark
binary_cols = ['Car_Owned', 'Bike_Owned', 'Active_Loan', 'House_Own']

# Computing the mode of eahch selected column
modes = df.agg(*[approx_count_distinct(c).alias(c) for c in binary_cols])

# Filling in the missing values with the mode
df = df.fillna(modes.first().asDict(), subset=[binary_cols])
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
| ID|Client_Income|Car_Owned|Bike_Owned|Active_Loan|House_Own|Child_Count|Credit_Amount|Loan_Annuity|Accompany_Client|Client_Income_Type|Client_Education|Client_Marital_Status|Client_Gender|Loan_Contract_Type|Client_Housing_Type|Population_Region_Relative|Age_Days|Employed_days|Registration_Days|ID_Days|Own_House_Age|Mobile_Tag|Homephone_Tag|Workphone_Working|Client_Occupation|Client_Family_Members|Cleint_City_Rating|Application_Process_Day|Application_Process_Hour|Client_Permanent_Match_Tag|Client_Contact_Work_Tag|Type_Organization|Score_Source_1|Score_Source_2|Score_Source_3|Social_Circle_Default|Phone_Change|Credit_Bureau|Default|
+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+
|  0|         3607|        0|         0|          0|        0|          0|            0|           0|            1746|              3701|            3645|                 3473|         2413|              3651|               3687|                      4868|    3617|         3666|             3614|   5985|        80095|         0|            0|                0|            41435|                 2410|              2409|                   2428|                    3663|                         0|                      0|             3609|         68835|          5686|         26922|                61928|        3664|        18540|      0|
+---+-------------+---------+----------+-----------+---------+-----------+-------------+------------+----------------+------------------+----------------+---------------------+-------------+------------------+-------------------+--------------------------+--------+-------------+-----------------+-------+-------------+----------+-------------+-----------------+-----------------+---------------------+------------------+-----------------------+------------------------+--------------------------+-----------------------+-----------------+--------------+--------------+--------------+---------------------+------------+-------------+-------+

Replacing all numeric columns with mean

In [90]:
missing_cols = [c for c in df.columns if df.filter(df[c].isNull()).count() > 0]
for c in missing_cols:
    mean = df.agg({c: 'mean'}).collect()[0][0]
    df = df.na.fill(mean, [c])

TypeError: value should be a float, int, string, bool or dict

In [105]:
import pyspark
print(pyspark.__version__)

3.3.1

In [96]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Client_Income: string (nullable = true)
 |-- Car_Owned: integer (nullable = false)
 |-- Bike_Owned: integer (nullable = false)
 |-- Active_Loan: integer (nullable = false)
 |-- House_Own: integer (nullable = false)
 |-- Child_Count: integer (nullable = true)
 |-- Credit_Amount: integer (nullable = true)
 |-- Loan_Annuity: float (nullable = false)
 |-- Accompany_Client: string (nullable = true)
 |-- Client_Income_Type: string (nullable = true)
 |-- Client_Education: string (nullable = true)
 |-- Client_Marital_Status: string (nullable = true)
 |-- Client_Gender: string (nullable = true)
 |-- Loan_Contract_Type: string (nullable = true)
 |-- Client_Housing_Type: string (nullable = true)
 |-- Population_Region_Relative: float (nullable = true)
 |-- Age_Days: integer (nullable = true)
 |-- Employed_days: integer (nullable = true)
 |-- Registration_Days: string (nullable = true)
 |-- ID_Days: integer (nullable = true)
 |-- Own_House_Age: integer (nullable = true)
 |-- Mobile_Tag: integer (nullable = true)
 |-- Homephone_Tag: integer (nullable = true)
 |-- Workphone_Working: integer (nullable = true)
 |-- Client_Occupation: string (nullable = true)
 |-- Client_Family_Members: integer (nullable = true)
 |-- Cleint_City_Rating: integer (nullable = true)
 |-- Application_Process_Day: integer (nullable = true)
 |-- Application_Process_Hour: integer (nullable = true)
 |-- Client_Permanent_Match_Tag: string (nullable = true)
 |-- Client_Contact_Work_Tag: string (nullable = true)
 |-- Type_Organization: string (nullable = true)
 |-- Score_Source_1: float (nullable = true)
 |-- Score_Source_2: float (nullable = true)
 |-- Score_Source_3: float (nullable = true)
 |-- Social_Circle_Default: float (nullable = true)
 |-- Phone_Change: integer (nullable = true)
 |-- Credit_Bureau: integer (nullable = true)
 |-- Default: integer (nullable = true)

In [97]:
df = df.withColumn('Score_Source_1', col('Score_Source_1').cast('float'))\
    .withColumn('Score_Source_2', col('Score_Source_2').cast('float'))\
      .withColumn('Social_Circle_Default', col('Social_Circle_Default').cast('float'))

In [60]:
import matplotlib.pyplot as plt
# Getting a list of all the numerical values (Ingeters, doubles or floats)
numeric_cols = [c for c, t in df.dtypes if t in ['int', 'float', 'double']]
numerical_df = df[numeric_cols]
numerical_df.hist(layout=(4,5), color='blue', figsize=(5,10), grid=False)
plt.suptitle('Histogram plot for all numeric variables')

AttributeError: 'DataFrame' object has no attribute 'hist'

In [39]:
from pyspark.sql.functions import expr
# Getting a list of all the numerical values (Ingeters, doubles or floats)
numeric_cols = [c for c, t in df.dtypes if t in ['int', 'float', 'double']]

# Getting the Median from the dataframe
median_expr = [expr(f"percentile_approx('{c}', 0.5") for c in numeric_cols]
median_value = df.select(*median_expr).first()

# Filling the missing values with median
df = df.fillna(median_value.asDict(), subset=[numeric_cols])

ParseException:
Syntax error at or near end of input: extra input end of input(line 1, pos 27)

== SQL ==
percentile_approx('ID', 0.5
---------------------------^^^

In [107]:
import gradio as gr

# defines a basic dialog interface using Gradio
with gr.Blocks() as dialog_app:
    chatbot = gr.Chatbot()
    state = gr.State([])
    
    with gr.Row():
        txt = gr.Textbox(
            show_label=False, 
            placeholder="Enter text and press enter"
        ).style(container=False)

    txt.submit(get_model_reply, [txt, state], [chatbot, state])

# launches the app in a new local port
dialog_app.launch()

NameError: name 'get_model_reply' is not defined

In [ ]:
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

In [111]:
import openai
openai.api_key = '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'

def get_model_reply(query, context=[]):
    # combines the new question with a previous context
    context += [query]
    
    # given the most recent context (4096 characters)
    # continue the text up to 2048 tokens ~ 8192 charaters
    completion = openai.Completion.create(
        engine='text-davinci-003', # one of the most capable models available
        prompt='\n\n'.join(context)[:4096],
        max_tokens = 2048,
        temperature = 0.0, # Lower values make the response more deterministic
    )
    
    # append response to context
    response = completion.choices[0].text.strip('\n')
    context += [response]
    
    # list of (user, bot) responses. We will use this format later
    responses = [(u,b) for u,b in zip(context[::2], context[1::2])]
    
    return responses, context

In [112]:
query = 'Which is the largest country by area in the world?'
responses, context = get_model_reply(query, context=[])

print('<USER> ' + responses[-1][0])
print('<BOT> ' + responses[-1][1])

RateLimitError: You exceeded your current quota, please check your plan and billing details.